@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #ffffff;
}

:root {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
	width: 0.5px; /* 세로 스크롤바 굵기 */
	height: 0.5px; /* 가로 스크롤바 굵기 */
}

/* 스크롤바 트랙(배경) */
::-webkit-scrollbar-track {
	background: transparent; /* 투명하게 */
}

/* 스크롤바 손잡이(thumb) */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.1); /* 반투명 */
	border-radius: 9999px; /* 동그랗게 */
}
